
# ----------------------------------- #
## CONFIGURATION OF EVENT GENERATION ##
# ----------------------------------- #

# Generate hard scattering
generate_events myRun
detector=OFF
shower=OFF                                 
my_run_card.dat

# Shower the run
pythia8 myRun2
./Cards/pythia_card_default.dat

# Run detector simulation
delphes myRun2
./Cards/delphes_card_ATLAS.dat